* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Rubik", sans-serif;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.add-project-dialog {
  background-color: transparent;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 10px 9px 9px 0px #616060;
}

#add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 24px 36px;
  border-radius: 10px;
  background-color: #b4b4b4;
}

.hidden {
  display: none !important;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-text-area {
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 0.75rem;
  resize: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 86px 4fr;
  height: 100vh;
}

.header {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.header-nav__title {
  font-size: 1.62rem;
}

.header-nav__add {
  padding: 4px 20px;
  font-size: 1.75rem;
  background: transparent;
  color: #fff;
}

.sidebar {
  background-color: rgb(229 229 229);
}

.sidebar-navigation,
.sidebar-navigation__projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 16px;
}

.sidebar-navigation__title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.sidebar-navigation button,
.sidebar-navigation__add-project {
  font-size: 1.12rem;
  border-radius: 8px;
  padding: 10px;
  text-align: justify;
  display: flex;
  gap: 15px;
  background-color: transparent;
}

.sidebar-navigation button:hover,
.projects-list button:hover,
.sidebar-navigation__add-project:hover {
  background-color: rgb(175, 175, 175);
}

.projects-list {
  display: flex;
  flex-direction: column;
}

.projects-list button {
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px;
  text-align: justify;
  display: flex;
  gap: 15px;
  background-color: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fit, 350px);
  gap: 20px;
  padding: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.project__container {
  padding: 10px;
  position: relative;
}

.project__container-header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.delete-project-btn {
  position: absolute;
  right: 10px;
  background-color: transparent;
  font-size: 1.2rem;
}

.project__container-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.87rem;
  background-color: #eee;
  margin-bottom: 5px;
}

.project__container .list-input {
  width: 95%;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}

.checklist__card {
  /* background-color: #efd665; */
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
  overflow: overlay;
}

.checklist__card-header,
.todo__card-header {
  display: flex;
  justify-content: space-between;
}

.checklist__card-title {
  text-align: center;
  font-size: 1.37rem;
}

.delete-card-btn {
  background-color: transparent;
  font-size: 1.25rem;
}

.list-item-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.list-item-checkbox {
  appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 8px;
  border: 2px solid #3ba395;
  cursor: pointer;
}

.list-item-checkbox:checked {
  height: 1.25rem;
  width: 1.25rem;
  display: block;
  background: url("https://bscottnz.github.io/todo/img/check.png"), #6dbbb1;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-checked {
  text-decoration: line-through;
  opacity: 50%;
}

.item-options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.87rem;
}

.delete-item-btn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.list-input {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}

.toggle-color-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.toggle-color-btn,
.color-option-btn {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.toggle-color-btn {
  border: 2px solid #37678b;
}

.color-options-container {
  display: flex;
  background-color: #fff;
  padding: 5px;
  display: flex;
  gap: 2px;
  border-radius: 8px;
}

.color-options-container.hidden {
  background-color: #fff;
  padding: 5px;
  width: fit-content;
  display: none;
}

#color-option-1 {
  background-color: #f7d15f;
}
#color-option-2 {
  background-color: #fca397;
}
#color-option-3 {
  background-color: #79d997;
}
#color-option-4 {
  background-color: #d1a8ff;
}

.todo__card {
  background-color: #ece7b5;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}
