@keyframes slideIn {
  from {
    margin-top: -25%;
    opacity: 20%;
  }

  to {
    margin-top: 0%;
    opacity: 100%;
  }
}

@keyframes showUp {
  from {
    opacity: 25%;
  }

  to {
    opacity: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Rubik", sans-serif;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.add-project-dialog {
  background-color: transparent;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 10px 9px 9px 0px #616060;
  animation: showUp;
  animation-duration: 0.4s;
}

.add-project-dialog::backdrop {
  background-color: #00000036;
  backdrop-filter: blur(1px);
}

#add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 24px 36px;
  border-radius: 10px;
  background-color: #b4b4b4;
}

#add-form .title {
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px 9px;
  text-align: center;
}

#add-form .title:focus::placeholder {
  color: transparent;
}

.cancel-btn-container {
  align-self: flex-end;
}

.cancel-btn {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.cancel-btn:hover {
  transform: scale(1.2);
}

.form-submit-button {
  background-color: #d8d8d8;
  border-radius: 8px;
  padding: 10px 38px;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.form-submit-button:hover {
  background-color: #f5f5f5;
  transform: scale(1.05);
  box-shadow: 2px 2px 3px #373737;
}

.hidden {
  display: none !important;
}

.description-text-area {
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 0.75rem;
  resize: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 4fr;
  height: 100vh;
}

.header {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.header-nav__title {
  font-size: 1.62rem;
}

.collapse-btn{
  display: none;
}

.header-nav__add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 10px;
}

.header-nav__add-container:hover .new-project-span {
  transform: translateX(0px);
  opacity: 1;
}

.new-project-span {
  overflow: hidden;
  display: block;
  transition: 1s ease-out;
  transform: translateX(100px);
  opacity: 0;
}

.header-nav__add-btn {
  padding: 4px 20px;
  font-size: 1.75rem;
  background: transparent;
  color: #fff;
  transition: 1.1s ease-out;
}

.header-nav__add-container:hover .header-nav__add-btn {
  transform: rotate(180deg);
}

.sidebar {
  background-color: rgb(229 229 229);
}

.sidebar-navigation,
.sidebar-navigation__projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 16px;
}

.sidebar-navigation__title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.sidebar-navigation button,
.sidebar-navigation__add-project {
  font-size: 1.12rem;
  border-radius: 8px;
  padding: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
}

.sidebar-navigation button:hover,
.projects-list button:hover,
.sidebar-navigation__add-project:hover {
  background-color: rgb(175, 175, 175);
}

.projects-list {
  display: flex;
  flex-direction: column;
}

.projects-list button {
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px;
  text-align: justify;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fit, 350px);
  gap: 20px;
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.project__container {
  padding: 10px;
  position: relative;
}

.project__container-header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.delete-project-btn {
  position: absolute;
  right: 10px;
  background-color: transparent;
  font-size: 1.2rem;
}

.project__container-list {
  display: flex;
  flex-direction: column;
  font-size: 0.87rem;
  background-color: #eee;
  margin-bottom: 5px;
}

.edit-item-menu-container {
  overflow: hidden;
}

.edit-item-menu {
  animation-name: slideIn;
  animation-duration: 0.5s;
  transition: easy-in-out;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 10px;
}

.priority-standard {
  border-left: 6px solid green;
}

.priority-high {
  border-left: 6px solid orange;
}

.priority-urgent {
  border-left: 6px solid red;
}

.project__container .list-input {
  width: 95%;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}

.checklist__card {
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
  overflow: overlay;
}

.checklist__card-header,
.todo__card-header {
  display: flex;
  justify-content: space-between;
}

.checklist__card-title {
  text-align: center;
  font-size: 1.37rem;
}

.delete-card-btn {
  background-color: transparent;
  font-size: 1.25rem;
}

.list-item-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.list-item-checkbox {
  appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 8px;
  border: 2px solid #3ba395;
  cursor: pointer;
}

.list-item-checkbox:checked {
  height: 1.25rem;
  width: 1.25rem;
  display: block;
  background: url("https://bscottnz.github.io/todo/img/check.png"), #6dbbb1;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-checked {
  text-decoration: line-through;
  opacity: 50%;
}

.item-options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.87rem;
}

.delete-item-btn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.list-input {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .main {
    grid-template-rows: 70px 4fr;
  }

  .header-nav__title {
    display: none;
  }

  .collapse-btn {
    display: block;
    font-size: 1.4rem;
    background-color: inherit;
    color: #fff;
    border: 2px solid #252525;
    padding: 10px;
    border-radius: 8px;
  }

  .grid-small {
    grid-template-columns: 1fr;
  }

  .sidebar-navigation,
  .sidebar-navigation__projects {
    gap: 4px;
    padding: 10px;
  }

  .sidebar-navigation button,
  .sidebar-navigation__add-project {
    font-size: 0.87rem;
    gap: 8px;
  }

  .sidebar-navigation__title {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .projects-list button {
    font-size: 0.87rem;
  }

  .hero {
    padding: 12px;
  }

  .project__container-title {
    font-size: 1rem;
  }
}
